
.col{
    border-radius: 10px;
    background-color: rgb(244, 244, 244);
    margin: 25px;   
   }
.row#computer-details{
    border-radius: 10px;
    background-color: rgb(244, 244, 244);
    margin: 15px;   
   }
.btn#get-loan{
    background-color: rgb(111, 227, 142);
    color: black;
    width: 100%;
}
#heading {
    font-weight: bold;
    font-size: 25px;
}